body{
    font-size: 20px;
    color: black;
 font-family: Helvetica;
 
}
.grid-container{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main main main'
    'footer ';
}
.grid-container > div{
    font-family: Helvetica;
    text-align: center;
    grid-template-columns: auto 25% 70% auto;
    float: left;
}
header{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(30, 68, 124);
    ;
    ;
    font-weight: bold;
}
menu {
    font-size: 15px;
background-color: lightgray;
color: black;
float: left;
height: 1000px;

}

main {
    font-size: 15px;
    float: top-right;
    padding-block: 10px;
    
}

.padding{
    padding-right: 100px;
}