/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica,  sans-serif;
    background-color: #e6e6e6;
}

/*
*****Layout*****
*/

header{
    background-color: #0088f7;
    padding: 15px;
    text-align: center;
    
}

#area-logo, #area-menu{
    padding: 10px;
}

/*Postagens*/

#postagens{
    background-color: white;
    width: ;
}







#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

/*Formatação dos links*/
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

header a:link, header a:visited {
    color: white;
    padding: 8px 12px;
}

header a:hover{
    color: rgb(25, 0, 255);
    background: white;
    text-decoration: none;
    
}


.blue{
    color: blue;
}
