/*Formatação para Home*/
#home{
    color: white;
    
    
}


/*Deixar as barras para separar conteudo*/
.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.caixa-t{
    border-top: 1px solid #e5e5e5;
}


/*Formatações Gerais*/
footer p a{ 
    margin: 5px 15px;
}

img{
    border: 2px solid black;
}

main{
    font-family: vlogger;
}

img.wtborder{
    border: none;
}


